In [1]:
## DF
#Librerías
import numpy as np
import pandas as pd

In [3]:
#Read DF 
DF=pd.read_csv('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/01_Ficheros_originales (Descarga en bruto)/20240101_Equities_feed_new_strategies_filtered_old_names_iso_permId.csv', sep=',', dtype='unicode')

In [4]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275921 entries, 0 to 1275920
Columns: 276 entries, isin to maxexp_oil_fuels_part
dtypes: object(276)
memory usage: 2.6+ GB

In [5]:
DF_filtered = DF[['isin','permId','issuer_name','str_005_ec']]
DF_filtered.head()

           isin      permId           issuer_name str_005_ec
0  US2332931094  4295903821               DPL Inc         OK
1  US233293AC33  4295903821               DPL Inc         OK
2  SE0012622520  5045179342    AAC Clyde Space AB   EXCLUDED
3  DK0060416048  8589934197    Spar Nord Bank A/S         OK
4  BRBPACUNT014  5000053637  Banco BTG Pactual SA         OK

In [6]:
#crossreference del mes 
crossreference=pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/03_Cross Reference/20240101_Aladdin_Clarity_Issuers.xlsx')

In [7]:
#Cambio de nombre, orden y tipo
crossreference.columns= ['IssuerID', 'IssuerName', 'permId']
crossreference= crossreference[['permId','IssuerID', 'IssuerName']]
crossreference['permId']= crossreference['permId'].astype('int64')
crossreference.info()
crossreference.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115452 entries, 0 to 115451
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   permId      115452 non-null  int64
 1   IssuerID    115452 non-null  object
 2   IssuerName  115452 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

       permId IssuerID                       IssuerName
0  4295903254   000176      AMERICAN AIRLINES GROUP INC
1  4295894740   000375                           BP PLC
2  4295890743   00038A                          ABB LTD
3  4296540158   00077B               NATWEST MARKETS NV
4  4296435746   00138E  AIG MATCHED FUNDING CORPORATION

In [10]:
#Carteras, sustituir por cartera a utilizar --> C:/Users/nXXXXXX/Downloads/xxxxxx.xlsx`. Descargar de Aladdin (Workspace: Descarga_Incumplimientos)
file_path= 'C:/Users/n629352/Downloads/Risk and exposure - 2024-01-12T152948.104.xlsx'
Carteras =pd.read_excel(file_path, sheet_name =None, skiprows=4)

C:\Program Files\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [11]:
Carteras= pd.concat(Carteras.values(), ignore_index=True)
Carteras.info()
Carteras.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75227 entries, 0 to 75226
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SNT-WORLD    75226 non-null  object
 1   SNT-WORLD.1  75224 non-null  object
 2   1.0          75224 non-null  float64
 3   Unnamed: 3   61734 non-null  object
 4   Unnamed: 4   75224 non-null  object
 5   Unnamed: 5   60509 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.4+ MB

           SNT-WORLD SNT-WORLD.1  1.0    Unnamed: 3  Unnamed: 4 Unnamed: 5
0  11 BIT STUDIOS SA   SNT-WORLD  0.0  PL11BTS00015  PLSFIO0519     F79892
1  11 BIT STUDIOS SA   SNT-WORLD  0.0  PL11BTS00015  PLSFIO0085     F79892
2  11 BIT STUDIOS SA   SNT-WORLD  0.0  PL11BTS00015  PLFIO00337     F79892
3  11 BIT STUDIOS SA   SNT-WORLD  0.0  PL11BTS00015  PLFIO00003     F79892
4  11 BIT STUDIOS SA   SNT-WORLD  0.0  PL11BTS00015  PLFIO00004     F79892

In [40]:
carteras_filtered=Carteras.iloc[:,[0,3,4,5]]
carteras_filtered.columns = ['issuername', 'isin','portfolio','issuerid']
carteras_filtered= carteras_filtered.rename(columns={'issuerid':'IssuerID'})
carteras_filtered.info()
carteras_filtered.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75227 entries, 0 to 75226
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   issuername  75226 non-null  object
 1   isin        61734 non-null  object
 2   portfolio   75224 non-null  object
 3   IssuerID    60509 non-null  object
dtypes: object(4)
memory usage: 2.3+ MB

          issuername          isin   portfolio IssuerID
0  11 BIT STUDIOS SA  PL11BTS00015  PLSFIO0519   F79892
1  11 BIT STUDIOS SA  PL11BTS00015  PLSFIO0085   F79892
2  11 BIT STUDIOS SA  PL11BTS00015  PLFIO00337   F79892
3  11 BIT STUDIOS SA  PL11BTS00015  PLFIO00003   F79892
4  11 BIT STUDIOS SA  PL11BTS00015  PLFIO00004   F79892

In [41]:
#STR005
carteras_filtered_5=carteras_filtered.copy()
conditions_5= carteras_filtered_5['portfolio'].isin(["FIH00529"])

In [59]:
STR005= carteras_filtered_5[conditions_5].dropna().copy()
STR005.columns= ['issuername', 'isin', 'portfolio','IssuerID']
STR005.info()
STR005

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 599 to 73945
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   issuername  97 non-null     object
 1   isin        97 non-null     object
 2   portfolio   97 non-null     object
 3   IssuerID    97 non-null     object
dtypes: object(4)
memory usage: 3.8+ KB

                     issuername          isin portfolio IssuerID
599                 ADIDAS N AG  DE000A1EWWW0  FIH00529   R57538
1389                    ALLIANZ  DE0008404005  FIH00529   R66197
1821        AMADEUS IT GROUP SA  ES0109067019  FIH00529   C92388
4785            ASML HOLDING NV  NL0010273215  FIH00529   R59305
5228      AUSTRIA (REPUBLIC OF)  AT0000A185T1  FIH00529   052591
...                         ...           ...       ...      ...
70159              UNILEVER PLC  GB00B10RZP78  FIH00529   904767
70395  UNIVERSAL MUSIC GROUP NV  NL0015000IY2  FIH00529   K87404
72674                  VINCI SA  FR0000125486  FIH00529   R57946
73232                   VONOVIA  DE000A1ML7J1  FIH00529   G29077
73945         WOLTERS KLUWER NV  NL0000395903  FIH00529   R59346

[97 rows x 4 columns]

In [60]:
STR005 =pd.merge(STR005,crossreference, on='IssuerID', how='left')
STR005 =STR005 [['IssuerID','permId', 'issuername','isin']]
STR005.info()
STR005.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 96
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IssuerID    97 non-null     object
 1   permId      96 non-null     float64
 2   issuername  97 non-null     object
 3   isin        97 non-null     object
dtypes: float64(1), object(3)
memory usage: 3.8+ KB

  IssuerID        permId             issuername          isin
0   R57538  4.295869e+09            ADIDAS N AG  DE000A1EWWW0
1   R66197  4.295870e+09                ALLIANZ  DE0008404005
2   C92388  5.000725e+09    AMADEUS IT GROUP SA  ES0109067019
3   R59305  4.295885e+09        ASML HOLDING NV  NL0010273215
4   052591  4.297256e+09  AUSTRIA (REPUBLIC OF)  AT0000A185T1

In [61]:
DF005 = DF_filtered[['permId','isin','issuer_name','str_005_ec']].copy()
DF005.columns =['permId','isin','issuer_name','STR_005']
DF005['permId']=DF005['permId'].astype('int64')
DF005.info()
DF005.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275921 entries, 0 to 1275920
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   permId       1275921 non-null  int64
 1   isin         1275921 non-null  object
 2   issuer_name  1275921 non-null  object
 3   STR_005      1275921 non-null  object
dtypes: int64(1), object(3)
memory usage: 38.9+ MB

       permId          isin           issuer_name   STR_005
0  4295903821  US2332931094               DPL Inc        OK
1  4295903821  US233293AC33               DPL Inc        OK
2  5045179342  SE0012622520    AAC Clyde Space AB  EXCLUDED
3  8589934197  DK0060416048    Spar Nord Bank A/S        OK
4  5000053637  BRBPACUNT014  Banco BTG Pactual SA        OK

In [62]:
STR005 =pd.merge(STR005,DF005, on='permId', how='left')
STR005= STR005.drop(columns=['isin_y','issuername']).drop_duplicates().dropna(subset=['STR_005'])
STR005.info()
STR005

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 4399
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IssuerID     48 non-null     object
 1   permId       48 non-null     float64
 2   isin_x       48 non-null     object
 3   issuer_name  48 non-null     object
 4   STR_005      48 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.2+ KB

,IssuerID,permId,isin_x,issuer_name,STR_005
0,R57538,4.295869e+09,DE000A1EWWW0,Adidas AG,OK
21,R66197,4.295870e+09,DE0008404005,Allianz SE,OK
210,C92388,5.000725e+09,ES0109067019,Amadeus IT Group SA,OK
220,R59305,4.295885e+09,NL0010273215,ASML Holding NV,OK
233,007699,8.589934e+09,ES0113900J37,Banco Santander SA,EXCLUDED
554,055262,4.295869e+09,DE000BASF111,BASF SE,OK
657,R63212,4.295869e+09,DE0005190003,Bayerische Motoren Werke AG,OK
662,D43041,4.295890e+09,ES0140609019,Caixabank SA,OK
750,H09269,5.043416e+09,ES0105066007,Cellnex Telecom SA,OK
791,H65368,5.046625e+09,GB00BDCPN049,Coca-Cola Europacific Partners PLC,OK
835,204280,4.295867e+09,FR0000125007,Compagnie de Saint Gobain SA,OK
932,R52176,4.295867e+09,FR0000120644,Danone SA,OK
1170,R71197,4.295890e+09,ES06445809R9,Iberdrola SA,OK
1174,R75291,4.298008e+09,DE0005810055,Deutsche Boerse AG,OK
1191,R50917,4.295870e+09,DE0005557508,Deutsche Telekom AG,OK
1225,R74158,4.295870e+09,DE0005552004,Deutsche Post AG,OK
1240,R51302,4.295876e+09,IT0003128367,Enel SpA,OK
1273,R51121,4.295876e+09,IT0003132476,Eni SpA,OK
1324,R57891,4.295867e+09,FR0000121667,EssilorLuxottica SA,OK
1359,H19988,5.048024e+09,NL0011585146,Ferrari NV,OK
1375,R65799,5.001439e+09,DE0005785604,Fresenius SE & Co KGaA,OK
1397,R98178,4.295887e+09,PTGAL0AM0009,Galp Energia SGPS SA,OK
1418,C76112,4.295890e+09,ES0171996087,Grifols SA,OK
1429,C90036,4.295868e+09,FR0000052292,Hermes International SCA,OK
1431,R71197,4.295890e+09,ES0144580Y14,Iberdrola SA,OK
1435,D17394,4.295889e+09,ES0148396007,Industria de Diseno Textil SA,OK
1437,456837,4.295885e+09,NL0011821202,ING Groep NV,OK
1499,C95777,4.295876e+09,IT0000072618,Intesa Sanpaolo SpA,OK
2326,R57939,4.295867e+09,FR0000121485,Kering SA,OK
2346,R88802,4.295885e+09,NL0011794037,Koninklijke Ahold Delhaize NV,EXCLUDED
2389,R57925,4.295867e+09,FR0000120073,L'Air Liquide Societe Anonyme pour l'Etude et ...,EXCLUDED
2396,R67593,4.295867e+09,FR0000120321,L'Oreal SA,OK
2474,R53964,4.295867e+09,FR001400AJ45,Compagnie Generale des Etablissements Michelin...,EXCLUDED
2598,R44139,4.295869e+09,DE0008430026,Muenchener Rueckversicherungs Gesellschaft in ...,OK
2607,J66817,5.060588e+09,FI4000297767,Nordea Bank Abp,OK
3671,R43213,4.295859e+09,AT0000743059,OMV AG,OK
3698,128009,4.295868e+09,FR0000133308,Orange SA,OK
3836,F07058,5.001167e+09,NL0013654783,Prosus NV,OK
3863,R72870,4.295867e+09,FR0000130577,Publicis Groupe SA,OK
3869,R55374,4.295869e+09,DE0007037129,RWE AG,OK
3947,B95492,5.043321e+09,DE0007164600,SAP SE,OK
3993,R57942,4.295867e+09,FR0000121972,Schneider Electric SE,OK
4146,826197,4.295869e+09,DE0007236101,Siemens AG,OK
4160,891753,5.001171e+09,FR0000120271,TotalEnergies SE,EXCLUDED
4174,904767,4.295895e+09,GB00B10RZP78,Unilever PLC,OK
4185,R57946,4.295868e+09,FR0000125486,Vinci SA,OK
4390,G29077,5.063762e+09,DE000A1ML7J1,Vonovia SE,OK
4399,R59346,4.295885e+09,NL0000395903,Wolters Kluwer NV,OK

In [63]:
STR005.head()

    IssuerID        permId        isin_x          issuer_name   STR_005
0     R57538  4.295869e+09  DE000A1EWWW0            Adidas AG        OK
21    R66197  4.295870e+09  DE0008404005           Allianz SE        OK
210   C92388  5.000725e+09  ES0109067019  Amadeus IT Group SA        OK
220   R59305  4.295885e+09  NL0010273215      ASML Holding NV        OK
233   007699  8.589934e+09  ES0113900J37   Banco Santander SA  EXCLUDED

In [66]:
STR005= STR005.rename(columns={'isin_x':'ISIN','issuer_name':'IssuerName','STR_005':'STR005'})
STR005= STR005[['ISIN','IssuerName','STR005']]
STR005.info()
STR005

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 4399
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ISIN        48 non-null     object
 1   IssuerName  48 non-null     object
 2   STR005      48 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

,ISIN,IssuerName,STR005
0,DE000A1EWWW0,Adidas AG,OK
21,DE0008404005,Allianz SE,OK
210,ES0109067019,Amadeus IT Group SA,OK
220,NL0010273215,ASML Holding NV,OK
233,ES0113900J37,Banco Santander SA,EXCLUDED
554,DE000BASF111,BASF SE,OK
657,DE0005190003,Bayerische Motoren Werke AG,OK
662,ES0140609019,Caixabank SA,OK
750,ES0105066007,Cellnex Telecom SA,OK
791,GB00BDCPN049,Coca-Cola Europacific Partners PLC,OK
835,FR0000125007,Compagnie de Saint Gobain SA,OK
932,FR0000120644,Danone SA,OK
1170,ES06445809R9,Iberdrola SA,OK
1174,DE0005810055,Deutsche Boerse AG,OK
1191,DE0005557508,Deutsche Telekom AG,OK
1225,DE0005552004,Deutsche Post AG,OK
1240,IT0003128367,Enel SpA,OK
1273,IT0003132476,Eni SpA,OK
1324,FR0000121667,EssilorLuxottica SA,OK
1359,NL0011585146,Ferrari NV,OK
1375,DE0005785604,Fresenius SE & Co KGaA,OK
1397,PTGAL0AM0009,Galp Energia SGPS SA,OK
1418,ES0171996087,Grifols SA,OK
1429,FR0000052292,Hermes International SCA,OK
1431,ES0144580Y14,Iberdrola SA,OK
1435,ES0148396007,Industria de Diseno Textil SA,OK
1437,NL0011821202,ING Groep NV,OK
1499,IT0000072618,Intesa Sanpaolo SpA,OK
2326,FR0000121485,Kering SA,OK
2346,NL0011794037,Koninklijke Ahold Delhaize NV,EXCLUDED
2389,FR0000120073,L'Air Liquide Societe Anonyme pour l'Etude et ...,EXCLUDED
2396,FR0000120321,L'Oreal SA,OK
2474,FR001400AJ45,Compagnie Generale des Etablissements Michelin...,EXCLUDED
2598,DE0008430026,Muenchener Rueckversicherungs Gesellschaft in ...,OK
2607,FI4000297767,Nordea Bank Abp,OK
3671,AT0000743059,OMV AG,OK
3698,FR0000133308,Orange SA,OK
3836,NL0013654783,Prosus NV,OK
3863,FR0000130577,Publicis Groupe SA,OK
3869,DE0007037129,RWE AG,OK
3947,DE0007164600,SAP SE,OK
3993,FR0000121972,Schneider Electric SE,OK
4146,DE0007236101,Siemens AG,OK
4160,FR0000120271,TotalEnergies SE,EXCLUDED
4174,GB00B10RZP78,Unilever PLC,OK
4185,FR0000125486,Vinci SA,OK
4390,DE000A1ML7J1,Vonovia SE,OK
4399,NL0000395903,Wolters Kluwer NV,OK

In [67]:
#Fichero convertido
STR005.to_excel('C:/Users/n629352/Downloads/STR005_2.xlsx', index=None, header=True)